# Secrets
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Docker
*.log
*.db

# OS files
.DS_Store
Thumbs.db

# Test and coverage reports
htmlcov/
.coverage
.cache/
.pytest_cache/

# Misc
*.sqlite3